html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-black: #36454f;
  --hover-color-blue: #3498db;
  --hover-color-green: #7bed9f;
  /* ??? */
  --submit-green: #04AA6D;
  --error-red: #ff0000;
}

body {
  background: #36454f;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-width: 100%;
}

.wrapper {
  width: 100%;
  /* overflow-y: scroll; */
  /* scroll-snap-type: y mandatory; */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  align-items: center;

  /* scroll-snap-align: start; */
}

h1 {
  font-size: 30px;
}

.introduction {
  height: fit-content;
  display: grid;
}

.education {
  display: grid;
  align-content: space-evenly;
}

.about {
  height: 100vh;
}

/* NAV */

header {
  height: 80px;
  background: #d9d9d9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-bar.active {
  height: 450px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.intro-text {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: large;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #000000;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: black;
  background: linear-gradient(90deg, #7bed9f, #3498db);
}

.nav-bar ul li a.active {
  color: black;
  background: linear-gradient(90deg, #7bed9f, #3498db);
}

.footer-p {
  color: white;
  margin: auto;
}

/* HOME PAGE */

.intro {
  background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, rgba(4, 189, 228, 1) 0%, rgba(2, 83, 185, 1) 100.2%);

}

.intro-p {
  max-width: 500px;
  padding: 40px;
  color: white;
}

.intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 5px 0;
}

/* PROJECTS */

.projects {
  background: linear-gradient(to right, #c33764, #1d2671);
}

.projects-h1 {
  color: white;
  font-size: 30px;
}

.projects-h2 {
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: normal;
  margin: 100px;
}

.card {
  width: 320px;
  margin: auto;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.description {
  /* font-size: 14px; */
  color: #fff;
  text-align: center;
}

#description {
  max-width: 200px;
}

.button {
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #7bed9f, #3498db);
  color: black;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
}

.button:hover {
  background: linear-gradient(90deg, #59bd79, #2777ac);
  border-radius: 10px;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT ME */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.about-h1 {
  color: white;
  text-align: center;
  padding: 40px;
}

.about-p {
  max-width: 500px;
  padding: 50px;
  color: white;
}

.about-image {
  float: left;
  margin-right: 20px;
}



/* CONTACT ME */

.contact {
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
}

.contact-h1 {
  color: white;
  text-align: center;
  margin-top: 80px;
}

.contact-p {
  color: white;
  text-align: center;
  margin: 10px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
  background-color: #04AA6D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
}

.confirmDialog {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  margin-top: -80px;
  border: var(--footer-blue);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
}

#message {
  height: 200px;
}

#email {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#successReturn {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.form-error {
  color: var(--error-red);
  margin-top: 5px;
  font-size: 14px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1023px) {

  .card-wrapper,
  .language-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .language-wrapper {
    gap: 20px;
    padding: 40px 0 40px 0;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #000000;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #d9d9d9;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-image {
    margin: 0;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  .nav-bar ul li a {
    padding: 10px 15px;
  }

  .intro-p {
    padding: 20px;
  }

  .about-p {
    padding: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    font-size: 24px;
  }

  .nav-bar ul li a {
    font-size: 18px;
    margin: 0 3px;
  }

  .intro-p {
    padding: 10px;
    font-size: 16px;
  }

  .projects-h1 {
    font-size: 24px;
  }

  .projects-h2 {
    font-size: 16px;
    margin: 50px;
  }

  .card {
    width: 280px;
  }

  .name {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
  }

  .about-h1 {
    padding: 20px;
    font-size: 24px;
  }

  .about-p {
    padding: 20px;
    font-size: 14px;
  }

  .contact-h1 {
    margin-top: 40px;
    font-size: 24px;
  }

  .contact-p {
    font-size: 14px;
  }
}